@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    animation: fadeInUp 3s ease-out;
}



@keyframes Bounce {

    0%, 100% {transform: translateX(0px);}
    50% {transform: translateY(-30px);}

}

.logo-section img {
    animation: Bounce 4s ease-in-out infinite;
}




body {
    font-family: 'Libre Franklin', sans-serif;

}

.frame-section {
    background-image: url('../images/title.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 582px;
}


h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000;
}


span {
    font-weight: 100;
    color: #999;
}

.container_header {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    gap: 400px;
    padding-top: 30px;
    margin-bottom: 120px;
}


.navigation-section {
    width: 644px;
}

.navigation-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navigation-item img {
    position: relative;
    top: -3px;

}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

a:hover {
    transform: scale(1.08);
    color: #5ab963;
}


ul {
    list-style: none;
    
}


.btn {
    border: 2px solid #fff;
    border-radius: 4px;
    width: 120px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.15);}
}

.btn-title-1  {
    animation: pulse 3s ease-in-out infinite ;
}



.title-section {
    width: 726px;
    height: 252px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;


}



.title-section h1 {

    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    }


.title-section p {
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: 13px;
    line-height: 185%;
    text-align: center;
    color: #fff;
    font-family: IBM Plex Mono;
    padding-bottom: 30px;
}

.btn-title-1 {
    border-radius: 12px;
    width: 160px;
    height: 60px;
    background: #5ab963;
    align-self: center;
    border-color: #5ab963;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    transition: transform 0.2s ease, color 0.2s ease;
 
}


.btn-title-1:hover {
    transform: scale(1.05);
}

.btn-title-1 a:hover {
    color: white;
    transform: scale(1);
}

.container-section-1 {

    width: 1170px;
    height: 528px;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 140px;
    padding-left: 135px;
    padding-right: 135px;
}
.h3-container {
    width: 507px;
    height: 144px;
}


.container-cards {
    width: 1190px;
    height: 330px;
    display: flex;
    justify-content: space-around;
    padding-top: 54px;
    
}

.container-card {
    width: 377px;
    height: 330px;

    
}


.container-card h4 {
    padding-top: 25px;
}


.container-card p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 185%;
    color: #999;
    padding-top: 13px;
}





.container-image {
    width: 1380px;
    height: 720px;
    margin: 0 auto;

}




.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.h3-container-2 {

    padding-left: 340px;
    padding-right: 340px;
    padding-top: 115px;
    padding-bottom: 115px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000;
}
    







.section-2-link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    text-transform: uppercase;
    text-align: center;
    color: #5ab963;
}


.container-section-3 {
  
    padding-top:120px ;
    padding-bottom: 120px;
    padding-left: 135px;
    padding-right: 135px;

}




.line {
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 90px;
    padding-top: 120px;
}


.premium-card {
    display: flex;
    gap: 100px;
}


.premium-card-2 {
    display: flex;
    gap: 100px;
    flex-direction: row-reverse;
}


.prem_text h2 {
    line-height: 150%;
}

.prem_text {
    width: 370px;
    position: relative;
    bottom: -30px;
}


.prem_text p {
    margin-top: 25px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 185%;
    color: #999;
}


.prem-h4 {
    text-align: center;
}



.prem-p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    text-transform: uppercase;
    text-align: center;
    color: #5ab963;
    padding-top: 12px;
    text-align: center;

}

.container-party {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 135px;
    padding-right: 135px;
}


.party-text {
    width: 585px;
    line-height: 150%;
}



.party-on {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #5ab963;
}

footer {
    background-color: #0a0e1a;
}


.footer-container {
    padding-top: 120px;
    padding-bottom: 150px;
    padding-right: 135px;
    padding-left: 135px;
    display: flex;
    justify-content: space-between;
}


.logo-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #666;
    padding-top: 15px;
    }


.col1, .col2, .col3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #fff;

}


.footer-section li {
    color: #fff;
    list-style: none;
    margin-bottom: 20px;

}

.footer-section {
    display: flex;
    gap: 40px;
}


.footer-section ul {
    display: flex;
    flex-direction: column;
}

.footer-section ul:last-child {
    flex-direction: row;
    gap: 25px;
}